
/*nuages*/ 
#place {
    position: relative;
    background-image: url("images_koukaki/Studio_Koukaki-image_place.png");
    height: 700px;
    margin-top: 140px;
  }    

.place {
  h3 {
    position: absolute;
    margin-top: 140px;
    width: 50%;
  }
  p {
    position: absolute;
    width: 50%;
    margin-top: 350px;
    margin-left: 60px;
  }
}

  .gros {
    position: absolute;
    top: 0;
    right : 0;
    z-index: 2;
  }
    
  .petit {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  
  #place .nuages {
    position: absolute;
    top: 80px;
    right: 0;
    box-sizing: border-box;
   
  }
  
  .nuages  {
    width: 550px;
    height: 240px;
  }
  