
/*slider*/
.slider {
    display: flex;
    max-width: 320px *3;
  }
  
  .slider .slide {
    overflow: hidden; 
    margin-right: 20px;
  }
  
  .slider img {
    
    width: 300px;
    height: auto;
  }
  
  .slider .caption {
    text-align: center;
  }
  